.btn-buy {
    color: #fff;
    background-color: #24bdcf;
    border-radius: 25px;
    box-shadow: none;
    font-size: 30px;
    padding: 18px 25px;
}

.btn-contact {
    color: #fff;
    cursor: pointer;
    background-color: #24bdcf;
    border-radius: 10px;
    box-shadow: none;
    font-size: 28px;
    padding: 7px 13px;
}