.menu {
    display: inline-block;
    margin-left: 35%;

    a {
        font-size: 31.7px;
        font-weight: 300;
    }

    a:hover {
        border-bottom: 2px solid #24bdcf;
    }

    li {
        margin-right: 30px;
    }

    li:last-child {
        margin-right: 0;
    }
}

nav {
    padding: 30px 60px;
}
header {
    background-color: rgba(36, 189,207, 0.3);
}

.logo {
    width: 20%;
}